* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  background: #7749F8;
  font-family: 'Inter', sans-serif;
  text-align:center;
  color: white;
}

h1 {
  font-family: 'Inter';
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;
  
  color: rgba(255, 255, 255, 0.5);
  margin-top:40px;
  
}
main {
   .container {
    height: 10rem;
    margin-top: 8rem;
    margin-bottom: 5rem;

    #weather-degree {
      margin-bottom:2rem;
      font-size:2.5rem;
    }
   }
}
button {   
  border:1px solid white;
  border-radius: 2rem;
  padding: 0.8rem 1rem;
  color: white;
  cursor:pointer;
  &:hover {
    outline:2px solid white;
  }
}
#find-city-button {
  margin-bottom:10rem;
}
footer {
  p {
    color: rgba(255, 255, 255, 0.5);
    margin:0 auto;
  }
}